body {
    overflow-x: hidden;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
  }

  .h1-responsive {
      font-size: 2.5rem;
      font-family: sans-serif;
      font-weight: bold;
      margin-left: 3rem;
  }
  .h1-responsive a {
      text-decoration: none;
      color: black;
      
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  .sidebar-heading{
      margin-right: -230px;
  }
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .dropdown-item:focus, .dropdown-item:hover {    
    background-color:  #6684BD!important;

}
  